Вам предстоит проанализировать данные о бронировании отелей.

# Задание 1. 

Импортируйте библиотеку pandas как pd. Загрузите датасет bookings.csv с разделителем ;. 
Проверьте размер таблицы, типы переменных, а затем выведите первые 7 строк, чтобы посмотреть на данные.

Описание данных.
Имеются следующие переменные:

Hotel – тип отеля (City Hotel или Resort Hotel)

Is canceled – бронирование было отменено (1) или нет (0); не отмененное считается успешным

Lead time – количество дней, прошедших между датой бронирования и датой прибытия

Arrival full date – полная дата прибытия

Arrival date year – год прибытия

Arrival date month – месяц прибытия

Arrival date week number – номер недели прибытия

Arrival date day of month – день прибытия

Stays in weekend nights – количество выходных (суббота или воскресенье), которые гость забронировал для проживания в отеле

Stays in week nights – количество дней (с понедельника по пятницу), которые гость забронировал для проживания в отеле

Stays total nights – общее число забронированных ночей (сумма двух предыдущих колонок)

Adults – число взрослых

Children – число детей

Babies – число младенцев

Meal – выбранный тип питания

Country – страна происхождения клиента

Reserved room type – тип зарезервированного номера

Assigned room type – тип полученного номера (может отличаться от забронированного)

Customer type – тип бронирования

Reservation status – значение последнего статуса брони: Canceled - было отменено клиентом; Check-Out - клиент зарегистрировался, но уже покинул отель; No-Show - клиент не зарегистрировался и сообщил администрации отеля причину

Reservation status date – дата обновления статуса

In [31]:
# Импорт библиотеки pandas
import pandas as pd

In [256]:
# Загрузка 2_bookings.csv с сепаратором ";"
pd.read_csv('2_bookings.csv', encoding='windows-1251', sep=';')
# Подсчет количества значений
print(f"В DATAFRAME booking содержится {pd.read_csv('2_bookings.csv', encoding='windows-1251', sep=';').size} значений!!!\n")
# Подсчет количества строк
print(f"В DATAFRAME booking содержится {len(pd.read_csv('2_bookings.csv', encoding='windows-1251', sep=';'))} строк!!!\n")
# Подсчет колчества столбцов
print(f"В DATAFRAME booking содержится {len(pd.read_csv('2_bookings.csv', encoding='windows-1251', sep=';').columns)} столбец!!!\n")
# Просмотр типов данных переменных
print(f"В DATAFRAME booking содержатся переменные следующих типов данных:\n\
      {pd.read_csv('2_bookings.csv', encoding='windows-1251', sep=';').dtypes}\n")
# Вывод первых 7-ми строк с информацией
pd.read_csv('2_bookings.csv', encoding='windows-1251', sep=';').head(7)

В DATAFRAME booking содержится 2507190 значений!!!

В DATAFRAME booking содержится 119390 строк!!!

В DATAFRAME booking содержится 21 столбец!!!

В DATAFRAME booking содержатся переменные следующих типов данных:
      Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

# Задание 2. 
Сохраните прочитанный датасет в bookings.
Затем запишите первые 7 строк в переменную bookings_head.

In [37]:
# Сохранение прочитанного датасета в переменную bookings 
bookings=pd.read_csv('2_bookings.csv', encoding='windows-1251', sep=';')
# Запись первых 7-ми строк в переменную bookings_head
bookings_head=bookings.head(7)

# Задание 3. 

Посмотрите на размеры таблицы. Сколько всего в ней столбцов?

In [43]:
# Просмотр количества столбцов
print(f"В таблице содержится {bookings.shape[1]} столбец!!!\n")

В таблице содержится 21 столбец!!!

# Задание 4. 

К какому типу относится большинство переменных?

In [65]:
# Проверка типа данных переменных
bookings.info()
print("Большинство переменных относятся к типу данных object и int!!!")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 21 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   hotel                      119390 non-null  object
 1   is_canceled                119390 non-null  int64
 2   lead_time                  119390 non-null  int64
 3   arrival_full_date          119390 non-null  object
 4   arrival_date_year          119390 non-null  int64
 5   arrival_date_month         119390 non-null  object
 6   arrival_date_week_number   119390 non-null  int64
 7   arrival_date_day_of_month  119390 non-null  int64
 8   stays_in_weekend_nights    119390 non-null  int64
 9   stays_in_week_nights       119390 non-null  int64
 10  stays_total_nights         119390 non-null  int64
 11  adults                     119390 non-null  int64
 12  children                   119386 non-null  float64
 13  babies                     119390 non-null  int64
 14  meal                       119390 non-null  object
 15  country                    118902 non-null  object
 16  reserved_room_type         119390 non-null  object
 17  assigned_room_type         119390 non-null  object
 18  customer_type              119390 non-null  object
 19  reservation_status         119390 non-null  object
 20  reservation_status_date    119390 non-null  object
dtypes: float64(1), int64(10), object(10)
memory usage: 19.1+ MB
Большинство переменных относятся к типу данных object и int!!!

# Задание 5.

Как вы уже могли заметить, при сборе датасета произошла небольшая ошибка, и названия колонок были записаны 
в неудобном для дальнейшей работы формате. Исправьте ситуацию, 
приведя названия столбцов к нижнему регистру и заменив пробелы на знак нижнего подчеркивания.

Например: Is Canceled -> is_canceled

Подсказка: вы можете использовать цикл, который будет проходить по bookings.columns, а в теле цикла использовать методы строк:

column.replace(" ", "_").lower()

In [67]:
# Изменение регистра столбцов на нижний и замена пробелов в названиях столбцов нижним подчеркиванием
new=[]
for column in bookings.columns:
    new.append(column.replace(" ", "_").lower())
bookings.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

In [68]:
# Изменение регистра столбцов на нижний и замена пробелов в названиях столбцов нижним подчеркиванием
bookings = bookings.rename(columns=lambda column: column.replace(" ", "_").lower())
bookings.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

# Задание 6.

Пользователи из каких стран совершили наибольшее число успешных бронирований? Бронирование считается успешным, если в дальнейшем не было отменено (переменная is_canceled). В качестве ответа выберите страны, входящие в топ-5.

Подсказка: здесь необходимо сделать группировку по ['country'] и агрегирование по сумме 'is_canceled'.

In [71]:
# Нахождение наибольшего числа бронирований отелей
bookings \
    .groupby(['country'], as_index=False) \
    .aggregate({'is_canceled': 'sum'}) \
    .sort_values('is_canceled', ascending=False) \
    .head()

    country  is_canceled
135     PRT        27519
59      GBR         2453
51      ESP         2177
56      FRA         1934
81      ITA         1333

# Задание 7.

На сколько ночей (stays_total_nights) в среднем бронируют отели типа City Hotel? Resort Hotel?

In [72]:
# Среднее количество ночей бронирования отелей типа City Hotel и Resort Hotel
bookings \
    .groupby(['hotel'], as_index=False) \
    .aggregate({'stays_total_nights': 'mean'}) \
    .sort_values('stays_total_nights', ascending=False) \
    .round(3)

          hotel  stays_total_nights
1  Resort Hotel               4.319
0    City Hotel               2.978

# Задание 8.

Иногда тип номера, присвоенного клиенту (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга. Сколько подобных наблюдений встретилось в датасете?

*отмена бронирования также считается


Подсказка: воспользуйтесь  .query('reserved_room_type != assigned_room_type')

In [76]:
# Количество отличий типа номера присвоеного клиенту изначально от типа номера, который был изначально забронирован
print(f"Количество отличий типа номера присвоеного клиенту изначально от типа номера, который был изначально забронирован равно: \
{bookings \
    .query('reserved_room_type != assigned_room_type') \
    .shape[0]}")

Количество отличий типа номера присвоеного клиенту изначально от типа номера, который был изначально забронирован равно: 14917

# Задание 9.

Теперь проанализируйте даты запланированного прибытия (arrival_date_year). На какой месяц чаще всего оформляли бронь в 2016 году? Изменился ли самый популярный месяц в 2017?

Вам пригодится arrival_date_month.agg(pd.Series.mode) - Mode - возвращает самое часто встречаемое значение, если таких несколько возвращает их все

In [89]:
# Самый популярный месяц бронирования в 2016 и в 2017 году
print(f"В 2016 году чаще всего оформляли бронь на \
{bookings.groupby('arrival_date_year').arrival_date_month.agg(pd.Series.mode).loc[2016]} месяц!!!")
print(f"В 2017 году чаще всего оформляли бронь на \
{bookings.groupby('arrival_date_year').arrival_date_month.agg(pd.Series.mode).loc[2017]} месяц!!!")

В 2016 году чаще всего оформляли бронь на October месяц!!!
В 2017 году чаще всего оформляли бронь на May месяц!!!

# Задание 10.

Сгруппируйте данные по годам, а затем проверьте, на какой месяц (arrival_date_month) бронирования отеля типа 
City Hotel отменялись чаще всего в 2015? 2016? 2017?

Подсказка: для этого сначала примените метод groupby, после чего выберите нужную колонку для дальнейших действий

Например:

df.groupby('column_1')['column_2'].what_to_do()

In [ ]:
# Чаще всего отменялись заказы в 2016 году
print(f"В 2015 году чаще всего отменялись заказы в \
{bookings.groupby(['arrival_date_year', 'arrival_date_month']).is_canceled.sum().loc[2015].idxmax()} месяце!")
# Чаще всего отменялись заказы в 2017 году 
print(f"В 2016 году чаще всего отменялись заказы в \
{bookings.groupby(['arrival_date_year', 'arrival_date_month']).is_canceled.sum().loc[2016].idxmax()} месяце!")
# Чаще всего отменялись заказы в 2018 году
print(f"В 2017 году чаще всего отменялись заказы в \
{bookings.groupby(['arrival_date_year', 'arrival_date_month']).is_canceled.sum().loc[2017].idxmax()} месяце!")

В 2015 году чаще всего отменялись заказы в September месяце!
В 2016 году чаще всего отменялись заказы в October месяце!
В 2017 году чаще всего отменялись заказы в May месяце!

Задание №11
Посмотрите на числовые характеристики трёх колонок: adults, children и babies. Какая из них имеет наибольшее среднее значение?

In [ ]:
# Наибольшее среднее значение колонок
print(f"Наибольшее среднее значение имеет колонка {bookings[['adults', 'children', 'babies']].mean().idxmax()}!")

Наибольшее среднее значение имеет колонка adults!

# Задание 12

Создайте колонку total_kids, объединив столбцы children и babies. Для отелей какого типа среднее значение переменной оказалось наибольшим?

City hotel – отель находится в городе Resort hotel – отель курортный

В качестве ответа укажите наибольшее среднее total_kids, округлив до 2 знаков после точки.


Подсказка: Создать новый столбец из 2-х предыдущих довольно просто, например
bookings['новый столбец'] = bookings.старый_столбец_1 + bookings.старый_столбец_2

In [255]:
# Создание колонки total_kids путем объединения столбцов children и babies
bookings['total_kids'] = bookings.children + bookings.babies
# Подсчет среднего значения
print(f"Среднее значение колонки total_kids будет наибольшим для отелей типа \
{bookings.groupby('hotel').total_kids.mean().round(2).idxmax()}!")

Среднее значение колонки total_kids будет наибольшим для отелей типа Resort Hotel!